<ion-view view-title="Top">
  <ion-content>
    <div class="wrapper">
      <div class="row responsive-sm">
        <div class="col col-33 col-offset-33">
          <button class="button button-large button-balanced" ng-click="start()">
            START
          </button>
        </div>
      </div>
      <div class="row responsive-sm">
        <div class="col col-33 col-offset-33">
          <button class="button button-large button-assertive" ng-click="stop()">
            STOP
          </button>
        </div>
      </div>
      <p> latitude {{ latitude }} </p>
      <p> longitude {{ longitude }} </p>
      <p> accuracy {{ accuracy }} </p>
      <p> device_id {{ device_id }} </p>
      <p> network {{ network }} </p>
    </div>
  </ion-content>
</ion-view>
